<p id="notice"><%= notice %></p>

<h2>Access Logs</h2>

<table>
  <thead>
    <tr>
      <th><%= sort_link @q, :logged, default_order: :desc %></th>
      <th><%= sort_link @q, :card_id %></th>
      <th>User</th>
      <th><%= sort_link @q, :door %></th>
      <th><%= sort_link @q, :action %></th>
    </tr>
  </thead>

  <tbody>
    <% @access_logs.each do |access_log| %>
      <tr class="access-<%= access_log.action.downcase %>">
        <td><%= link_to l(access_log.logged), access_log %></td>
        <td><%= access_log.card_id %></td>
        <td>
          <% if access_log.card %>
            <%= link_to access_log.card.user, access_log.card %>
          <% else %>
            <%=  link_to 'Add User', new_card_path(card_id: access_log.card_id) %>
          <% end %>
        </td>
        <td><%= access_log.door %></td>
        <td><%= access_log.action %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @access_logs %>

<p>
  <%= link_to 'New Access Log', new_access_log_path %>
</p>
