<p id="notice"><%= notice %></p>

<p>
  <strong>Logged:</strong>
  <%= l @access_log.logged %>
</p>

<p>
  <strong>Card:</strong>
  <% if @access_log.card %>
    <%= link_to "#{@access_log.card_id} (#{@access_log.card.user})", @access_log.card %>
  <% else %>
    <%= link_to @access_log.card_id, new_card_path(card_id: @access_log.card_id) %>
  <% end %>
</p>

<p>
  <strong>Door:</strong>
  <%= @access_log.door %>
</p>

<p>
  <strong>Action:</strong>
  <%= @access_log.action %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @access_log.detail %>
</p>
