<p id="notice"><%= notice %></p>

<p>
  <strong>Logged:</strong>
  <%= @access_log.logged %>
</p>

<p>
  <strong>Card:</strong>
  <%= @access_log.card_id %>
</p>

<p>
  <strong>Door:</strong>
  <%= @access_log.door %>
</p>

<p>
  <strong>Action:</strong>
  <%= @access_log.action %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @access_log.detail %>
</p>

<%= link_to 'Edit', edit_access_log_path(@access_log) %> |
<%= link_to 'Back', access_logs_path %>
