<%= form_with(model: card_group, local: true) do |form| %>
  <% if card_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_group.errors.count, "error") %> prohibited this card_group from being saved:</h2>

      <ul>
      <% card_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :card_id %>
    <%= form.text_field :card_id, id: :card_group_card_id %>
  </div>

  <div class="field">
    <%= form.label :access_group_id %>
    <%= form.number_field :access_group_id, id: :card_group_access_group_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
