<%= simple_form_for @access_group do |form| %>
  <% if access_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(access_group.errors.count, "error") %> prohibited this access_group from being saved:</h2>

      <ul>
      <% access_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>
  <%= form.button :submit %>
<% end %>
