<%= simple_form_for @card do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :card_id %>
  <%= form.input :user %>
  <%= form.input :nick %>
  <%= form.input :valid_from, as: :date %>
  <%= form.input :expires, as: :date %>
  <%= form.input :after_hours, as: :boolean %>
  <%= form.input :disabled, as: :boolean %>
  <%= form.input :magic, as: :boolean %>

  <h2>Access Groups</h2>

  <%= form.collection_check_boxes(:access_group_ids, @access_groups, :id, :name) %>

  <%= form.button :submit %>
<% end %>
