<%= simple_form_for @card do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="card_id">ID</label>
    <input type="input" id="card_id" name="card_id" disabled="true" value="<%=@card.id || params[:card_id]%>"/>
    <input type="hidden" id="hidden_card_id" name="hidden_card_id" value="<%= params[:card_id] %>"/>
    <button type="button" id="start_capture">Capture Card</button>
    <button id="edit_id" type="button">Edit</button>
  </div>

  <%= form.input :user %>
  <%= form.input :nick %>
  <%= form.input :valid_from, as: :date %>
  <%= form.input :expires, as: :date %>
  <%= form.input :after_hours, as: :boolean %>
  <%= form.input :disabled, as: :boolean %>
  <%= form.input :magic, as: :boolean %>

  <h2>Access Groups</h2>

  <%= form.collection_check_boxes(:access_group_ids, @access_groups, :id, :name) %>

  <%= form.button :submit %>
<% end %>

<div id="capture_dialog" class="dialog">
  <p id="message">
    Capturing the next DENY in the access log...<br/>
  </p>
  <button id="stop_capture">Stop Capture</button>
</div>
