<p id="notice"><%= notice %></p>

<div class="grid-x">
  <div class="small-6 cell">
    <h2>Cards</h2>
  </div>

  <div class="small-6 cell text-right">
    <%= link_to 'Add New Card', new_card_path, class: 'button' %>
  </div>
</div>

<%= search_form_for @q do |f| %>
  <div class="input-group">
    <%= f.label :user_cont, "Search users", class: 'input-group-label' %>
    <%= f.search_field :user_cont, class: 'input-group-field' %>

    <div class="input-group-button">
      <input type="submit" class="button" value="Submit">
    </div>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @q, :card_id, default_order: :desc %></th>
      <th><%= sort_link @q, :user %></th>
      <th><%= sort_link @q, :nick %></th>
      <th><%= sort_link @q, :valid_from %></th>
      <th><%= sort_link @q, :expires %></th>
      <th><%= sort_link @q, :after_hours %></th>
      <th><%= sort_link @q, :disabled %></th>
      <th><%= sort_link @q, :magic %></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr id="card-<%= card.card_id %>" class="<%= card.disabled ? 'disabled' : 'enabled'%>">
        <td><%= link_to card.card_id, card %></td>
        <td><%= card.user %></td>
        <td><%= card.nick %></td>
        <td><%= l card.valid_from %></td>
        <td><%= l card.expires %></td>
        <td><%= card.after_hours %></td>
        <td><%= card.disabled %></td>
        <td><%= card.magic %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @cards %>
