<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :user_cont, "Search users" %>
  <%= f.search_field :user_cont %>
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @q, :card_id, default_order: :desc %></th>
      <th><%= sort_link @q, :user %></th>
      <th><%= sort_link @q, :nick %></th>
      <th><%= sort_link @q, :valid_from %></th>
      <th><%= sort_link @q, :expires %></th>
      <th><%= sort_link @q, :after_hours %></th>
      <th><%= sort_link @q, :disabled %></th>
      <th><%= sort_link @q, :magic %></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr id="card-<%= card.card_id %>" class="<%= card.disabled ? 'disabled' : 'enabled'%>">
        <td><%= link_to card.card_id, card %></td>
        <td><%= card.user %></td>
        <td><%= card.nick %></td>
        <td><%= l card.valid_from %></td>
        <td><%= l card.expires %></td>
        <td><%= card.after_hours %></td>
        <td><%= card.disabled %></td>
        <td><%= card.magic %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @cards %>

<p>
  <%= link_to 'New Card', new_card_path %>
</p>
