<p id="notice"><%= notice %></p>

<div class="grid-x">
  <div class="small-6 cell">
    <h3>
      Card <%= @card.id %> <%= @card.disabled ? 'Disabled' : 'Enabled' %>
    </h3>

    <h4><%= @card.user %> <small>(<%= @card.nick %>)</small></h4>

    <p>
      Active from <%= l @card.valid_from.to_date %> to <%= l @card.expires.to_date %>
    </p>

    <h5>Settings</h5>

    <ul>
      <li><strong>After hours:</strong> <%= @card.after_hours %></li>
      <li><strong>Magic:</strong> <%= @card.magic %></li>
    </ul>
  </div>

  <div class="small-6 cell">
    <p>
      <%= link_to 'Edit Card', edit_card_path(@card), class: 'button' %>
    </p>

    <h3>Access Groups:</h3>
    <%= @access_groups.map(&:name).join(", ") %>
  </div>
</div>

<h3>Access Log</h3>
<table>
  <tr>
    <th>Date</th>
    <th>Door</th>
    <th>Action</th>
    <th>Reason</th>
  </tr>

  <% @access_logs.each do |access_log| %>
    <tr class="access-<%= access_log.action.downcase %>">
      <td><%= l access_log.logged %></td>
      <td><%= access_log.action %></td>
      <td><%= access_log.door %></td>
      <td>
        <% if access_log.action == 'DENY' %>
        <%= !has_access?(access_log, @access_groups) ? "doesn't have access to #{access_log.door}" :  "unknown" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
