<%= simple_form_for @door do |form| %>
  <% if door.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(door.errors.count, "error") %> prohibited this door from being saved:</h2>

      <ul>
      <% door.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>
  <%= form.input :default_unlocked %>
  <%= form.button :submit %>
<% end %>
