<p id="notice"><%= notice %></p>

<div class="grid-x">
  <div class="small-6 cell">
    <h2>Doors</h2>
  </div>

  <div class="small-6 cell text-right">
    <%= link_to 'Add New Door', new_door_path, class: 'button' %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Default unlocked</th>
    </tr>
  </thead>

  <tbody>
    <% @doors.each do |door| %>
      <tr>
        <td><%= link_to door.name, door %></td>
        <td><%= door.default_unlocked %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @doors %>
