<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Workshop Access Control" %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="title-bar">
      <div class="title-bar-left">
        <span class="title-bar-title"><%= link_to 'Workshop Access Control', root_path %></span>
      </div>
    </div>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <%= menu_item "Access Logs", access_logs_path %>
          <%= menu_item "Cards", cards_path %>
          <%= menu_item "Doors", doors_path %>
          <%= menu_item "Access Groups", access_groups_path %>
        </ul>
      </div>
    </div>

    <div class="grid-container">
      <%= yield %>
    </div>
  </body>
</html>
